        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        body {
            /*background-image: repeating-linear-gradient(50deg, rgb(77, 245, 245), rgb(255, 241, 42));
            background:  repeating-linear-gradient(50deg, rgb(77, 245, 245), rgb(255, 241, 42));
            background:  repeating-linear-gradient(50deg, rgb(77, 245, 245), rgb(255, 241, 42));; 
            background: -o-linear-gradient(black, white); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff'); 
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')"; */
            background-image : url('hello.jpg');
        }
        
        .box {
            height: 870px;
            width: 1000px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            margin-top: 15px;
            margin-bottom: 20px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            box-shadow: 0 0 20px rgb(255, 154, 154);
            border: 1px rgb(255, 255, 255) solid;
        }
        
        .image {
            border-radius: 180px;
            -webkit-border-radius: 180px;
            -moz-border-radius: 180px;
            -ms-border-radius: 180px;
            -o-border-radius: 180px;
            margin-left: 20px;
            margin-top: 14px;
        }
        
        .header {
            text-align: center;
            margin-top: -130px;
            color: #FF4269;
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
        }
        
        hr {
            margin-right: 20px;
            margin-top: -20px;
            margin-left: 20px;
            color: #FF4269;

        }
        
        .contact-info-header {
            margin-top: 3cm;
            font-size: 30px;
            color:  #A5CF11;
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            text-align: center;
            font-weight: bold;
        }
        
        .contact-info-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -47px;
            text-decoration: none;
            text-align: center;
        }
        
        .skills-header {
            font-size: 30px;
            color:  #A5CF11;
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .skills-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -18px;
            text-align: center;
        }
        
        .edu-headrer {
            font-size: 30px;
            color: #A5CF11;
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .edu-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -70px;
            text-align: center;
        }
        
        a {
            color:  #A5CF11;
            text-decoration: none;
        }
        
        a:hover {
            background-color: transparent;
            color: #D5F467;
        }
        
        .about-header {
            font-size: 30px;
            color: #A5CF11;
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .about-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -66px;
            text-align: center;
        }
        
        .proj-links-header {
            font-size: 30px;
            color: rgb(255, 0, 128);
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
            
        }
        
        .proj-links-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -68px;
            text-align: center;
        }
        
        .hobbies-header {
            font-size: 30px;
            color: #A5CF11;
            margin-left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .hobbies-data {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin-top: -66px;
            text-align: center;
        }
        
        .mail {
            color: rgb(226, 4, 171);
        }
        /* Make sure that padding behaves as expected */
        * {box-sizing:border-box; text-align: center}

/* Container for skill bars */
            .container {
            width: 100%; /* Full width */
            background-color: rgb(255, 255, 255); /* Grey background */
            text-align: center;
                }

                .skills {
                
                text-align: center; /* Right-align text */
                 /* Add bottom padding */
                color: rgb(247, 24, 255); /* White text color */
                text-align: center;
                }
                .html {
                        width: 80%;
                        background-color: rgb(220, 43, 255); /* Green */
                        font-size: 15px;
                        margin-left: 20px;
                        color: rgb(0, 0, 0);
                        font-weight: 300;
                        
                        text-align: center;}
                 .css {
                            width: 40%;
                                background-color: #49fff6; /* Green */
                            font-size: 15px;
                            margin-left: 20px;
                            color: rgb(0, 0, 0);
                            font-weight: 300;
                           
                            text-align: center;}
                .js {
                                width: 75%; background-color: #cbf436; /* Green */
                                font-size: 15px;
                                margin-left: 20px;
                                color: rgb(0, 0, 0);
                                font-weight: 300;
                              
                                text-align: center;}
                .php{
                                    width: 30%; background-color: #0fff6b; /* Green */
                                    font-size: 15px;
                                    margin-left: 20px;
                                    color: rgb(0, 0, 0);
                                    font-weight: 300;
                            
                                    text-align: center;}
            @media screen and (max-width: 500px) {
            .box {
                width: 95%;
                height: 100%;
            }
            body {
                background-image : url('hello.jpg');
            }
            .header {
                margin-right: -160px;
            }
            @media screen and (max-width: 800px) {
                .box {
                    width: 95%;
                    height: 100%;
                }
                body {
                    background-image : url('hello.jpg');
                }
                .header {
                    margin-right: -160px;
                }
            }
       }
        
